.container {
  background-color: #1f2937;
  padding: 1rem;
  border-radius: 0.5rem;
  width: auto;
  height: calc(100% - 16px);
  padding-bottom: 0;
}

.title {
  color: #f3f4f6;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
